@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');               
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* Zerando todas as bordas da page  */
*{
    padding: 0;
    margin: 0;
}
body{
    /* Determinando o tamanho minimo e maximo de ajuste para os conteudos
    dentro do body */
    max-width: 2000px;
    min-width: 300px;
    min-height: 100%;
    background: #e5e5e5;
}
.midPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding-bottom: 100px;
}
.margim{
    border-top: 2px solid #fca311;
}
li{
    list-style-type: none; /* formatação da estilização da lista */
}
h1{
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    color: #000000;
} 
p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    font-size: 15px;
} 
footer{
    background: #000000;
    color: #e5e5e5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30px;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    }
/* ------------------------ Menu ----------------- */
/* Div para ajustar todo o menu no topo  */
#all{
    display: flex;  /* Deixando tudo flexivel dentro da div pai */
    flex-direction: column; /* Ordenando como eu quero que os objts se orientem */
    justify-content: center; /* Dizendo para as box ficarem centralizadas */
    align-items: center; /* Centralizando todo o conteudo */
    width: 100%;
    height: 400px; 
}
.menu{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

/* Formatação da tag a  */
a{
    text-decoration: none; /* retirando  o sublinhado do link */
    color:inherit; /* retitrando a formatação de cor dos links */
}
.abasMenu{
    margin-left: 10px; /*Margin para espaçar o menu*/
}
#sobreMim{
    /* Adicionando as bordas laterais para fazer uma
    separação do menu */
    border-left: 2px solid #fca311;
    border-right: 2px solid #fca311;
    /* Adicionando margin interna para deixar uma melhor
    experiencia para o usuario */
    padding-left: 5px;
    padding-right: 5px;
    
}
/* Adicionando efeitos visuais para quando passar o cursor  */
a:hover{
    font-size: 18px; /* Aumentando a fonte */
    transition-delay: 0,40s; /* Suavizando a forma como o efeito acontece */
}
/* ------------------------- Page Home ------------------------- */
#imgHome{
    max-width: 300px; /* Utilizando do "Max" para que a imagem reduza o tamanho sem perder a propoção */
    max-height: 250px;
    width: auto;
    height: auto;
    border-radius: 50%;
    margin-top: -80px;
}
#paragrafosHome{
    margin-top: 8px;
    margin-left: 5px;
}







/* --------------------------- Page Sobre mim -------------- */






/* ---------------------------- Page Contatos ------------------ */
#allContatos{
    margin: 20px;
}
.meusContatos{
    padding-top: 10px;
}
.meusContatos a{
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
.meusContatos a:hover{
    text-shadow: 1px 0px #000000; /* Adicionando sombra ao texto */
    /* transition-delay: 0.5s; */
    /* font-size: 20px; */
}

#nomeContatos{
    font-size: 15px;
}

