@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');               
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* ----------------- Padronização das tag ------------------------------ */
/* Zerando todas as bordas da page  */
*{
    padding: 0;
    margin: 0;
}
body{
    /* Determinando o tamanho minimo e maximo de ajuste para os conteudos
    dentro do body */
    min-width: 100%;
    height: 100%;
    padding-bottom: 4px;
    background: #e5e5e5;
}
.midPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80%;
    height: 100%;
    padding-bottom: 10em;
    padding-left: 2em;
    padding-right: 2em;
}
.margim{
    border-top: 2px solid #fca311;
}
li{
    list-style-type: none; /* formatação da estilização da lista */
}
h1{
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    color: #000000;
} 
p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    font-size: 15px;
} 
/* Padronizando rodape para todas as paginas */
footer{
    background: #000000;
    color: #e5e5e5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 2em;
}
/* Formartação para todas as tag a */
a{
    text-decoration: none; /* retirando  o sublinhado do link */
    color:inherit; /* retitrando a formatação de cor dos links */
}
/* ------------------------ Menu ----------------- */
/* Div para ajustar todo o menu no topo  */
#all{
    display: flex;  /* Deixando tudo flexivel dentro da div pai */
    flex-direction: column; /* Ordenando como eu quero que os objts se orientem */
    justify-content: center; /* Dizendo para as box ficarem centralizadas */
    align-items: center; /* Centralizando todo o conteudo */
    width: 100%;
    height: 400px; 
}
.menu{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.abasMenu{
    margin-left: 10px; /*Margin para espaçar o menu*/
}
#sobreMim{
    /* Adicionando as bordas laterais para fazer uma
    separação do menu */
    border-left: 2px solid #fca311;
    border-right: 2px solid #fca311;
    /* Adicionando margin interna para deixar uma melhor
    experiencia para o usuario */
    padding-left: 5px;
    padding-right: 5px;
    
}
/* Adicionando efeitos visuais para quando passar o cursor  */
.menuTop:hover{
    transform: scale(1.2);/*Aumentando a fonte*/
}
/* ------------------------- Page Home ------------------------- */
#imgHome{
    max-width: 300px; /* Utilizando do "Max" para que a imagem reduza o tamanho sem perder a propoção */
    max-height: 250px;
    border-radius: 50%;
    margin-top: -80px;
}
#paragrafosHome{
    margin-top: 8px;
    margin-left: 5px;
}







/* --------------------------- Page Sobre mim -------------- */
.box{
    display: flex;
    justify-content: center;
    min-height: 70%;
    max-height: 70%;
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    width: 22em;
    height: 25em;
    border: #fca311 solid 1px;
}
.box img{
    max-width: 280px;
    max-height: 210px;
}
/* config para fazer o texto sumir */
.conteudo p{
    display: none; /*Esconder o texto*/
    margin-top: 2em;
}
.conteudo:hover{
    /* Criando efeito de transição na div
    para quando passaar o mouse */
    transform: scale(1.1); /*Propoção da transição */
    transition: all 200ms ease-in; /*Tempo da transição */
    background-color: #fca311;
    border: #000000 solid 1px;
}
.conteudo:hover p{
    /* Fazendo o texto aparecer quando passar o mouse */
    display: block; 
}





/* ---------------------------- Page Contatos ------------------ */
/* Configurando as box do formulario */
fieldset{
    display: flex;
    border: 0;
}
/* Configurando cada formulario individualmente */
.formulario{
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 2em;
    /* display: block; */
}
#email{
    margin-top: 2em;
}
.boxLeft{
    margin-right: 17em;
}
#feedback{
    margin-top: 5em;
    width: 20em;
    height: 10em;
}
/* Editando as bordas de cada box do formulario */
input, textarea, #botao{
    border: #000000 solid 2px;
    border-radius: 5px;
}
input:hover, textarea:hover, #botao:hover{
    border: #fca311 solid 2px;
}

#allContatos{
    margin: 20px;
}
.meusContatos{
    padding-top: 0.5em;
}
.meusContatos a{
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
.meusContatos a:hover{
    text-shadow: 1px 0px #000000; /* Adicionando sombra ao texto */

}

#nomeContatos{
    font-size: 15px;
}

